.b4a-rainbow-circle {
  opacity: 0.4;
  width: 500px;
  height: 500px;
  position: absolute;
  top: 0;

  &.left {
    left: -250px;
    right: unset;
  }

  &.right {
    right: -250px;
    left: unset;
  }

  img {
    width: 100%;
  }
}

.b4a-purpose {
  .wrapper {
    background-color: #fff;
    width: 100%;
    padding: 15px 0;
    position: relative;

    .logo-purpose {
      display: block;
      width: 120px;
      height: 60px !important;
      margin: 0 auto;
    }


  }

  .cards-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

  }

  .mobile-purpose {
    width: 100%;

    .purpose-mobile {
      display: block;
      max-width: 350px;
      margin: 20px auto;
    }

  }

  .title {
    margin: 100px auto 30px auto;
    padding: 0 35px;
    max-width: 400px;
    text-align: center;
    font-size: 23px;
    z-index: 2;
    position: relative;
  }

  .card-text-wrapper {
    z-index: 1;
    text-align: center;
    width: 100%;

  }

  .card-purpose {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    max-height: 217px;

    .purpose {
      display: none;
    }


  }

  .card-vision {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 217px;


  }

  .cards {
    margin: 0 auto;
    width: 342px;
    height: 40px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p,
    h2 {
      margin: 0;
      color: #000;
      width: 180px;

      &.title-purpose {
        line-height: 20px;
        font-weight: 300;
        width: 100%;
        position: relative;
        z-index: 2;
      }
    }

    .subtitle {
      font-size: 18px !important;
      position: relative;
      z-index: 2;
    }

    .icon-values {
      min-width: 70px;
      width: 70px;
    }

    .arrow-down {
      cursor: pointer;
      min-width: 25px;
      width: 25px;
      fill: #000;
    }
  }

  .text-container {
    margin: 0 auto;
    width: 342px;
    border-radius: 15px;
    position: relative;
    border-bottom: 5px solid transparent;
    z-index: 1;

    p {
      text-align: center;
      color: #1d1d1d;
      line-height: 19px;

      &.subtitle {
        font-size: 18px !important;
        line-height: 1.2rem;
        font-weight: 400;
        position: relative;
        z-index: 2;
      }
    }

    .title-purpose {
      text-align: center;
      margin: 10px 0;
      font-size: 25px !important;
      font-weight: 300;
      position: relative;
      z-index: 2;
    }


  }

  .goals {
    margin-top: 60px;

    h2 {
      margin-bottom: 20px;
      text-align: center;
      font-size: 25px !important;
      font-weight: 300;
    }

    @media (max-width: 768px) {
      margin-top: 20px;
      text-align: center;
    }




    .circles-container {
      // margin: 0 auto;
      display: flex;
      justify-content: flex-start;
      column-gap: 20px;

      img {
        width: 160px;
      }

      @media (max-width: 1024px) {
        margin: unset;
        width: 100%;
        justify-content: center;
        column-gap: 5px;

        img {
          width: 33%;
        }
      }
    }
  }
}
