<div class="b4a-purpose">
  <div class="wrapper">
    <div class="b4a-rainbow-circle left">
      <img src="assets/images/Circle.png" alt="circulo colorido ao fundo">
    </div>

    <img class="logo-purpose" src="assets/images/Logo_B4A_Black.png" alt="Logo B4A">
    <h1 class="title">Unindo beleza à tecnologia</h1>
    <div class="cards-container">
      <div class="card-text-wrapper">
        <div class="mobile-purpose">
          <img class="purpose-mobile" src="assets/images/image-purpose-mobile.png" alt="Foto proposito">
        </div>
        <div class="text-container">
          <div class="mission">
            <h2 class="title-purpose">Nossa Missão</h2>
            <p>Democratizar o mercado de beleza.</p>
          </div>
        </div>
        <div class="text-container">
          <div class="vision">
            <h2 class="title-purpose">Nossa Visão</h2>
            <p>
              Buscamos oferecer a melhor plataforma digital e nos tornar o ecossistema líder no segmento de beleza,
              conectando consumidores, influenciadores e marcas de beleza em todo o mundo.
            </p>
          </div>
        </div>
        <div class="goals">
          <h2>
            Até 2030,
            <br>
            queremos conectar:
          </h2>
          <div class="circles-container">
            <!-- <circles></circles> -->
            <img src="assets/svg/circle-consumers.svg" alt>
            <img src="assets/svg/circle-influencers.svg" alt>
            <img src="assets/svg/circle-brands.svg" alt>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
